{% extends 'base.html' %}
{% block pagetitle %}
Contact Us
{% endblock pagetitle %}

{% block body %}

<div class="row mb-5 text-center text-white laptop">
    <div class="col-lg-10 mx-auto">
        <h1 class="display-4" style="padding-top: 2%;font-weight: 400;color: rgb(4, 54, 4);"><b>Project Overview</b></h1>
        <!--<p class="lead" style="font-weight: 500;color: black;">For Any Queries & Suggestions Contact Us. We Are Happy To
            Help.</p>-->
    </div>
</div>

<div class="row p-3">
    <div class="col">
        <div class=" p-5 bg-white shadow rounded-lg" style="height: 95%;">
            <left>
                <!--<h3>Sai Chandana Maddipatla</h3>-->
                <p class="lead" style="font-weight: 350;">This project uses Python and AI-based libraries to identify plant diseases from uploaded images and provide necessary prevention and treatment recommendations. The system aims to assist farmers, agricultural researchers, and gardeners in efficiently diagnosing and managing plant diseases.
                    <br><b>Features</b></br>
                    <b>Home:</b>Displays plant names and representative images of healthy plants.</br>
<b>AI Engine:</b>Users can upload images of diseased plants.
The system uses AI to classify the disease,
prevention tips and recommended treatments are displayed,
provides general guidelines to prevent plant diseases.</br>
<b>Supplements:</b>
Lists specific supplements or chemicals to treat identified diseases.
                </p>
            </left>
        
        </div>
    </div>

    
    </div>
</div>

{% endblock body %}